body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f9;
    color: #333;
}

h1 {
    text-align: center;
    color: #2c3e50;
}

h2 {
    text-align: center;
    color: #2980b9;
    font-size: 1.8em;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.desplazo{
    position:absolute;
    margin-left:500px;
   

    }
.contenedor{
    font-size: 1.2em;
    margin-right: 40%;
    line-height: 1.6;
    margin-bottom: 20px;
}
.section-title {
    font-size: 1.5em;
    color: #2980b9;
    margin-top: 20px;
}

.section-title2 {
    font-size: 1.5em;
    color: #2980b9;
    margin-top: 50px;
}

.section-content {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 20px;
        }